<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: red;
  font-family: arial;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 170%;
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
